In [3]:
import pdfplumber
import pandas as pd

with pdfplumber.open("2021-MLSPA-Fall-Salary-release.pdf") as pdf:
    # First we need to extract columns so later on they dont provide IndexError while doing pd.concat
    page1 = pdf.pages[0]
    # Extract the table from the first page
    table1 = page1.extract_table()
    # Defining columns
    columns=table1[0]
    all_tables = []
    for i in range(0,len(pdf.pages)):
        # Select pages of the PDF
        page = pdf.pages[i]
        # Extract the table from pages
        table = page.extract_table()
        # Convert the extracted table data from pages into a Pandas dataframe
        df = pd.DataFrame(table, columns=columns)
        all_tables.append(df)
    
    # Concatenate the two dataframes into a single Pandas dataframe
    df = pd.concat(all_tables).reset_index(drop=True)

# Remove duplicate header
df.drop(0, axis=0, inplace=True)
# Reset index
df = df.reset_index(drop=True)
df

,Club,Last Name,First Name,Playing Position,2021 Base Salary,2021 Guaranteed Comp.
0,Atlanta United,Adams,"Mohammed ""Mo""",M,"$121,000.00","$141,000.00"
1,Atlanta United,Ambrose,Mikey,D,"$81,375.00","$81,375.00"
2,Atlanta United,Araujo,Luiz,F-M,"$3,600,000.00","$3,941,667.00"
3,Atlanta United,Barco,Ezequiel,M,"$1,875,000.00","$2,358,333.00"
4,Atlanta United,Bauer,Josh,D,"$63,547.00","$63,547.00"
...,...,...,...,...,...,...
866,Vancouver Whitecaps,Sousa e Silva,Caio Alexandre,M,"$500,000.00","$539,583.00"
867,Vancouver Whitecaps,Teibert,Russell,M,"$350,000.00","$387,500.00"
868,Vancouver Whitecaps,Veselinovic,Ranko,D,"$360,000.00","$445,500.00"
869,Vancouver Whitecaps,Vite,Pedro,M,"$556,000.00","$609,997.00"
870,Vancouver Whitecaps,White,Brian,F,"$216,000.00","$216,000.00"